@import "~@/assets/less/jrny-theme.less";

@mobileBreakpoint: ~"(max-width: 767px)";
@mobileNavbarHeight: 49px;

body #application-root {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding-bottom: 0 !important;
  height: 100%;

  // Desktop top navbar
  .application-layout-desktop-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: @jrny-header-height;
    z-index: 1000;

    @media @mobileBreakpoint {
      display: none;
    }
  }

  // Mobile navbar (shown only on mobile)
  .application-layout-mobile-navbar {
    height: @mobileNavbarHeight;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

    @media @mobileBreakpoint {
      display: block;
    }
  }

  // Main content area
  .application-layout-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1 1 auto;
    padding-bottom: 15px;
    margin-top: @jrny-header-height;

    @media @mobileBreakpoint {
      margin-top: @mobileNavbarHeight;
    }
  }
}

body > section {
  height: 100%;
}

body.fixed-layout #application-root {
  .application-layout-content {
    padding-bottom: 0;
  }
}

body.headless #application-root {
  .application-layout-desktop-navbar,
  .application-layout-mobile-navbar {
    display: none !important;
  }

  .application-layout-content {
    margin-top: 0;
  }
}

// Fixes for proper snapshots in Percy (move vertical scroll to body level
// to capture entire page, otherwise it wll be cut by viewport)
@media only percy {
  body #application-root {
    height: auto;

    .application-layout-desktop-navbar {
      position: relative;
    }

    .application-layout-content {
      overflow: visible;
      margin-top: 0;
    }
  }
}
